
    .my-col1, .my-col2{
      margin-right: 3px;
      width: 10px;
    }

    .my-div{
        background-image: url('{{url_for("static", filename = "img/image2.jpg")}}');
        background-repeat: no-repeat;
        background-size: cover;


    }

    .my-img {
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      background-clip: content-box;
      rgba(0,0,0,0);
      border-radius: 50%;
      border: 2px solid red;
      position: relative;
      overflow: hidden;


    }

    .form {
        display: block;
        margin-top: 0em;
}

    .navbar{
      padding-bottom: 2px;
    }
    .table{
      border: 2px solid blue;
      height: 20px;
    }



    .username{
      font-weight: bold;
    }

    .card{
      border: 1px solid;
      border-color: yellow;
    }

    .img1{

    }

    .my-col11{
      position: sticky;
      top: 0;
    }
