{% extends 'base.html' %}
{% block head %}
  <title>Log In</title>

{% endblock %}

{% block div %}
<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <form class="jumbotron" action="" method="POST">
      {{form.hidden_tag()}}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 text-info text-center bg-dark">Join For Free Today</legend>
            <div class="form-group">
                {{form.email.label(class = 'form-control-label')}}
                {% if form.email.errors %}
                    {{form.email(class = 'form-control form-control-sm is-invalid')}}
                  <div class="invalid-feedback">
                    {%for error in form.email.errors%}
                      <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.email(class = 'form-control form-control-sm')}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.password.label(class = 'form-control-label')}}
                {% if form.password.errors %}
                    {{form.password(class = 'form-control form-control-sm is-invalid')}}
                  <div class="invalid-feedback">
                    {%for error in form.password.errors %}
                      <span>{{error}}</span>
                    {%endfor%}
                  </div>
                {% else %}
                  {{form.password(class = 'form-control form-control-sm')}}
                {% endif %}
            </div>
      </fieldset>

   <div class="form-group">
     {{form.submit(class = "btn btn-outline-info")}}
   </div>
   <hr>
   <div>
     <p>Login with:</p>
     <li><a href="{{url_for('facebook.login')}}">Facebook</a></li>
     <li><a href="{{url_for('twitter.login')}}">Twitter</a></li>
     <li><a href="">Gmail</a></li>
     <li><a href="{{url_for('github.login')}}">Github</a></li>
   </div>
   <!--
    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true"></div>
   -->
   <div class="">
     <small class = 'text-muted'><a href="{{url_for('users.reset_request')}}">Forgot Password?</a></small>

   </div>
   <hr>
   <div>
     <small class="text-muted">
       Don't have an account? <a href="{{url_for('users.register')}}">Join Today</a>
   </small></div>

    </form>
     <div class="fb-login-button" data-size="small" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
  </div>
 
  <div class="col-3">

  </div>
</div>

{% endblock %}
