{% extends 'base.html'%}
{% block head %}
  <title>Register</title>
{% endblock %}

{% block div %}
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
      <form class="jumbotron" action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 text-info text-center bg-dark">Join For Free Today</legend>
            <div class="form-group">
                {{form.fullname.label(class = 'form-control-label')}}

                {% if form.fullname.errors %}
                    {{form.fullname(class = 'form-control form-control-sm is-invalid')}}
                  <div class="invalid-feedback">
                    {%for error in form.fullname.errors%}
                      <span>{{error}}</span>
                    {%endfor%}
                  </div>
                {% else %}
                  {{form.fullname(class = 'form-control form-control-sm')}}
                {% endif %}
            </div>
              <div class="form-group">
                  {{form.username.label(class = 'form-control-label')}}

                  {% if form.username.errors %}
                      {{form.username(class = 'form-control form-control-sm is-invalid')}}
                    <div class="invalid-feedback">
                      {%for error in form.username.errors%}
                        <span>{{error}}</span>
                      {%endfor%}
                    </div>
                  {% else %}
                    {{form.username(class = 'form-control form-control-sm')}}
                  {% endif %}
              </div>

              <div class="form-group">
                  {{form.email.label(class = 'form-control-label')}}
                  {% if form.email.errors %}
                      {{form.email(class = 'form-control form-control-sm is-invalid')}}
                    <div class="invalid-feedback">
                      {%for error in form.email.errors%}
                        <span>{{error}}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{form.email(class = 'form-control form-control-sm')}}
                  {% endif %}
              </div>

              <div class="form-group">
                {{form.about_me.label(class = 'form-control-label')}}
                {% if form.about_me.errors %}
                    {{form.about_me(class = 'form-control form-control-sm is-invalid')}}
                  <div class="invalid-feedback">
                    {%for error in form.about_me.errors%}
                      <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{form.about_me(class = 'form-control form-control-sm')}}
                {% endif %}
            </div>

              <div class="form-group">
                  {{form.password.label(class = 'form-control-label')}}
                  {% if form.password.errors %}
                      {{form.password(class = 'form-control form-control-sm is-invalid')}}
                    <div class="invalid-feedback">
                      {%for error in form.password.errors%}
                        <span>{{error}}</span>
                      {%endfor%}
                    </div>
                  {% else %}
                    {{form.password(class = 'form-control form-control-sm')}}
                  {% endif %}
              </div>
              <hr>
              <div class="form-group">
                  {{form.confirm_password.label(class = 'form-control-label')}}
                  {% if form.confirm_password.errors %}
                      {{form.confirm_password(class = 'form-control form-control-sm is-invalid')}}
                    <div class="invalid-feedback">
                      {%for error in form.confirm_password.errors%}
                        <span>{{error}}</span>
                      {%endfor%}
                    </div>
                  {% else %}
                    {{form.confirm_password(class = 'form-control form-control-sm')}}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{form.picture.label()}}
                  {{form.picture(class = "form-control-file")}}

                  {% if form.picture.errors %}
                    {%for error in form.picture.errors %}
                      <span class = 'text-danger'>{{error}}</span><br>
                      {%endfor%}
                  {% endif %}
              </div>

        </fieldset>
     <div class="form-group">
       {{form.submit(class = "btn btn-outline-info")}}
     </div>
     <div>
      <p>Register with:</p>
      <li><a href="">Facebook</a></li>
      <li><a href="">Twitter</a></li>
      <li><a href="">Gmail</a></li>
    </div>
     <hr>
     <div><small class="txt-muted">
       Already have an account? Please <a href="{{url_for('users.login')}}">Log In</a>
     </small></div>
      </form>
    </div>
    <div class="col-3">

    </div>

</div>

{% endblock %}
