
      <div class="card mb-3" style="display: '';" id="posters">
        <ul class="nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu bg-info">
              {% if not current_user == post.author %}
              <div class="sharethis-inline-share-buttons"></div>
              <a class="dropdown-item" href="{{url_for('users.unfollow', username = post.author.username)}}">Unfollow</a>
              <a class="dropdown-item" href="{{url_for('users.block', username = post.author.username)}}">Block</a>
              <a class="dropdown-item btn" href="{{url_for('users.report', id = post.id)}}" name = "report">Report</a>
              {% endif %}

              {% if current_user.is_following(post.author) %}
              <a class="hide-element dropdown-item" href=""  style="display: '';" name="hidden" id="hide1">Hide</a>
              <a class="dropdown-item" href="#">Embed</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cancel</a>
              {% endif %}

              {% if not current_user.is_following(post.author) %}
              <a class="dropdown-item" href="{{url_for('users.unfollow', username = post.author.username)}}">Follow</a>
              {% endif %}              
            </div>
            </li>
          </ul>

          <div class = "postID" style="display: none;">{{post.id}}</div>
          <div class="card-header">
            <div class="content-section">
              <div class="media">
                <img class="rounded-circle account-img my-img" src="{{url_for('static', filename = 'img/' + post.author.image_file)}}" alt="profile pic">
                
                <div class="media-body">
                     {% if post.author == current_user %}
                        <span class="user_popup">
                             <a href="{{url_for('users.account', username = post.author.username)}}">   
                                {{post.author.username}}
                             </a>
                        </span> 
                      {% else %}

                        <span class="user_popup">                      
                            <a href="{{url_for('users.dashboard', username = post.author.username)}}">{{post.author.username}}
                            </a>
                        </span>
                    {% endif %}
                        
                  <p class="card-text"><small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small></p>

                </div>
              </div>
            </div>
          </div>
          <img src="{{url_for('static', filename = 'postpics/' + post.picture)}}" class="card-img-top" alt="..." width="50" height="400">

          <div class="card-body">
          	  <div class="fb-comments" data-href="http://localhost:5000/post/{{post.id}}" data-numposts="5" data-width="50%"></div>
              <div class="card-footer text-muted">{{post.title}}</div>
              
              <div class="">
                    <div class="fb-share-button" data-href="http://localhost:5000/post/{{post.id}}" data-layout="button_count"></div>  
                    <div class="fb-like" data-href="http://localhost:5000/post/{{post.id}}" data-layout="standard" 
					    data-action="like" 
					    data-show-faces="true">
					  </div>

            {% include 'main/_comments.html' %} 

    </div>
  </div>
</div>


