{% extends 'base.html'%}
{% block head %}
  <title>API Page</title>
{% endblock %}
{% block div %}

<div class="row">
    <div class="col-3"></div>
    <div class="col">
      <h1 class="text-center">How to use our API</h1>
      <hr>
      <p class="text-center">Our API uses graphgl in data query and changes</p>
    
      <div>
        <ul class="list-group">
            <a href=""><li class="list-group-item">Query Data</li></a>
            <a href=""><li class="list-group-item">Post</li></a>
            <a href=""><li class="list-group-item">Update</li></a>
          </ul>
      </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
