{% extends 'base.html'%}
{% block head %}
  <title>Home</title>
{% endblock %}
{% block div %}
  <div class="row">
      <div class="col">
        <legend class="text-info text-center bg-dark">Stories</legend>
        <h4 class="text-info text-center bg-dark">Suggestions for you</h4>
        <h4 class="text-info text-center bg-dark">Trending</h4>
        <hr>
        <div class="footer1">
            <section>
                <ul class="list-group list-group-horizontal-sm">
                      <a href="{{url_for('main.api_page')}}"><li class="list-group-item">API</li></a>
                      <a href="#"><li class="list-group-item">Privacy</li></a>
                      <a href="#"><li class="list-group-item">Terms</li></a>
                      <a href="#"><li class="list-group-item">More</li></a>
                </ul>
            </section>
        </div>
      </div>
      <div class="col-6">
        {% for post in posts %}
        <div class="card mb-3">
          <ul class="nav">
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu bg-info">
                <a class="dropdown-item" href="#">Report</a>
                <a class="dropdown-item" href="#">Unfollow</a>
                <a class="dropdown-item" href="#">Block</a>
                <a class="dropdown-item" href="#">Hide</a>
                <a class="dropdown-item" href="#">Embed</a>
                <a class="dropdown-item" href="#">Message</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Cancel</a>
              </div>
              </li>
            </ul>
            <div class="card-header">
              <div class="content-section">
                <div class="media">
                  <img class="rounded-circle account-img my-img" src="{{url_for('static', filename = 'img/' + post.author.image_file)}}" alt="profile pic">
                  <div class="media-body">
                    <a href="{{url_for('users.user_posts', username = post.author.username)}}"><h6 class="account-heading username ml-2">{{post.author.fullname}}</h6></a>
                    <p class="card-text"><small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small></p>

                  </div>
                </div>
              </div>
            </div>
            <img src="{{url_for('static', filename = 'postpics/' + post.picture)}}" class="card-img-top" alt="..." width="50" height="400">

            <div class="card-body">

                <div class="card-footer text-muted">{{post.title}}</div>

            {% if current_user.is_authenticated %}
                <div class="row">
                    <div class="col">
                        <a href="{{url_for('posts.update_post', post_id=post.id)}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>

                    </div>
                    <div class="col">
                        <a href="{{url_for('posts.delete_post', post_id=post.id)}}" class="btn btn-primary"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    </div>
                </div>
                {% else %}
                      <a href="#" class="btn btn-warning mr-4"><i class="fas fa-heart"></i></a>
                      <a href="#" class="btn btn-warning mr-4"><i class="far fa-comment"></i></a>
                      <a href="#" class="btn btn-warning mr-4"><i class="fas fa-share-alt-square"></i></a>
                      <a href="#" class="btn btn-warning mr-4" ><i class="fas fa-shopping-cart"></i></a>
                {% endif %}
            </div>
          </div>
          {% endfor %}
      </div>

      <div class="col">
        <div class = 'row'>
            <div class="col"><button><a href="{{url_for('users.register')}}">Sign Up</a></button></div>
            <div class="col"><button><a href="{{url_for('users.login')}}">Log In</a></button></div>
            <hr>
        </div>
        <h3 class="text-white text-center bg-primary">People You Can Follow</h3>
        <div class="">
          {% for user in Users %}
          <div id = 'list-example' class="">
            <ol class="breadcrumb">
                <img src="{{url_for('static', filename = 'img/' + user.image_file)}}" class="card-img-top my-img mb-2 img1" alt="...">
                <a class="ml-2 mr-2" href="#">{{user.username}}</a>
                <br>
          <form class="" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <a href="{{url_for('users.follow', user_id=user.id)}}" class="btn btn-secondary btn-xs">Follow</a>
            </div>

          </form>
          </ol>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock %}
