{% extends 'base.html'%}
{% block head %}
  <title>Home</title>
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e9aaed50ba0f9001938d4bc&product=inline-share-buttons" async="async"></script>


{% endblock %}
{% block div %}
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-2">
      <legend class="text-info text-center bg-dark">Stories</legend>
      <h4 class="text-info text-center bg-dark">Suggestions for you</h4>
      <h4 class="text-info text-center bg-dark">Trending</h4>
      <hr>
      <div class="footer1">
          <section>
              <ul class="list-group list-group-horizontal-xm">
                    <a href="{{url_for('main.api_page')}}"><li class="list-group-item">API</li></a>
                    <a href="#"><li class="list-group-item">Privacy</li></a>
                    <a href="#"><li class="list-group-item">Terms</li></a>
                    <a href="#"><li class="list-group-item">More</li></a>
              </ul>
          </section>
      </div>
    </div>
    <div class="col-6">
      {% for post in posts %}
      <div class="card mb-3" style="display: '';" id="posters">
        <ul class="nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu bg-info">
              {% if current_user.is_following(post.author) %}
              <div class="sharethis-inline-share-buttons"></div>
              <a class="dropdown-item btn" href="{{url_for('users.report', id = post.id)}}" name = "report">Report</a>
              <a class="dropdown-item" href="{{url_for('users.unfollow', username = post.author.username)}}">Unfollow</a>
              <a class="dropdown-item" href="{{url_for('users.block', username = post.author.username)}}">Block</a>
              <a class="hide-element dropdown-item" href=""  style="display: '';" name="hidden" id="hide1">Hide</a>
              <a class="dropdown-item" href="#">Embed</a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cancel</a>
              {% elif not current_user.is_following(post.author) %}
              <a class="dropdown-item" href="#">Report</a>
              <a class="dropdown-item" href="{{url_for('users.block', username = post.author.username)}}">Block</a>
              <a class="hide-element dropdown-item" href="" style="display: ">Hide</a>
              <a class="dropdown-item" href="#">Embed</a>
              <a href="{{ url_for('users.send_message', recipient=post.author.username) }}">Message</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#">Cancel</a>
              {% endif %}
            </div>
            </li>
          </ul>
          <div class="card-header">
            <div class="content-section">
              <div class="media">
                <img class="rounded-circle account-img my-img" src="{{url_for('static', filename = 'img/' + post.author.image_file)}}" alt="profile pic">
                
                <div class="media-body">
                    {% if post.author == current_user %}
                    <a href="{{url_for('users.account', username = post.author.username)}}"><h6 class="account-heading username ml-2">{{post.author.fullname}}</h6></a>
                    {% else %}
                    <a href="{{url_for('users.dashboard', username = post.author.username)}}"><h6 class="account-heading username ml-2">{{post.author.fullname}}</h6></a>
                    {% endif %}
                  
                  <p class="card-text"><small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small></p>

                </div>
              </div>
            </div>
          </div>
          <img src="{{url_for('static', filename = 'postpics/' + post.picture)}}" class="card-img-top" alt="..." width="50" height="400">

          <div class="card-body">

              <div class="card-footer text-muted">{{post.title}}</div>
              <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="" style="width: 20px;"></div>
              <div class="row">
              
                    <a href="#" class="btn btn-warning mr-4"><i class="fas fa-heart"></i></a>
                    <a href="#" class="btn btn-warning mr-4"><i class="fas fa-share-alt-square"></i></a>
                    <a href="#" class="btn btn-warning mr-4" ><i class="fas fa-shopping-cart"></i></a>
                      <div class="fb-share-button" data-href="{{ url_for('posts.share', post_id=post.id) }}" data-layout="button_count"></div>
                      
                </div>
          </div>
        </div>
        {% endfor %}
    </div>


    <div class="col">
      <h3 class="text-white text-center bg-primary" style="width: 200px; margin-right:10%; margin-left: 50%;">People You May Follow</h3>
      <div class="" style="overflow: scroll; background-color: red; height: 300px; width: 200px; margin-right:10%; margin-left: 50%;">

        {% for user in Users if user != current_user and not current_user.is_following(user) %}
        <div id = 'list-example' class="">
        <ul class="list-group list-group-horizontal-xm">
          <li class="list-group-item">
            <img src="{{url_for('static', filename = 'img/' + user.image_file)}}" class="rounded-circle account-img my-img img1">
            <a class="ml-2 mr-2" href="{{url_for('users.dashboard', username = user.username)}}" style="font-size: 10px;">{{user.fullname}}</a>
            <div class="">
              <a href="{{url_for('users.follow', username=user.username)}}" class="">Follow</a>
            </div>
          </li>      
        </ul>
    </div>
            
        {% endfor %}
      </div>
            <div style="border: 2px solid; height: 200px; width: 250px; background: black; margin-top: 10%; margin-left: 40%;">
            <h3 style="width: 50%; text-align: center;" class="text-warning text-center">COMMUNITIES</h3>
            <ul>
              <li class="text-primary">Topic 1</li>
              <li class="text-primary">Topic 2</li>
              <li class="text-primary">Topic 3</li>
              <li class="text-primary">Topic 4</li>
            </ul>
          </div>
  
</div>

{% else %}

</div>
{% endif %}

<script type="text/javascript">
  function load(){

  let request = new XMLHttpRequest();
    request.open("POST", "/hide", true);
  request.onload = function(){
    response = request.responseText;
    Data = JSON.parse(response);
        //data1 = data1.data;
     //data1.forEach(add_post);
  }; 
    const data = new FormData();
    data.append('post_id', post.id);
  request.send(data);
    //xhttp.send("start=${start}&end={Ford}");
return false;
};


//This is to make the hide button work
</script>

<script type="text/javascript">
  window.onload =  function () {
  hide = document.querySelector(".hide-element");
  hide.onclick = function (){
  this.parentElement.parentElement.parentElement.parentElement.remove();

  };
};
</script>
           
{% endblock %}
